* {
    padding:0;
    margin:0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #2c3e50;
    color: #FFFFFF;
}


a.exit {
    width: auto;
    padding: 10px;
    color: #FFFFFF;
    background-color: #e74c3c;
    border-radius: 0;
    text-decoration: none;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}

section {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    padding: 40px 50px;
}

aside {
    background: #34495e;
    width: 100vw;
    max-width: 100%;
    height: 50px;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
}

form > input {
    width: 90vw;
    max-width: 90vw;
    min-width: 90vw;
    max-height: 100%;
    min-height: 100%;
    height: 100%;
    border: 0;
    background-color: #34495e; 
    color:#FFFFFF;
    padding: 20px;
}

aside > button{
    width: 10vw;
    height: 100%;
    border:0;
    background-color: #e74c3c;
    color:#FFFFFF;
    text-align: center;
    cursor: pointer;
}

.d-none {
    display: none;
}

.me {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    margin: 25px 0px;
}

.me > img {
    width: 53px;
    height: 47px;
    margin-right: 35px;
}

.me > .text > h5, .other > .text > h5{
    font-size: 15px;
    color: #FFFFFF;
}

.me > .text > p, .other > .text > p{
    font-size: 15px;
    color: #FFFFFF;
    opacity: .68;
}

.other {
    display: flex;
    align-items: center;
    text-align: right;
    margin: 25px 0px;
    flex-direction: row-reverse;
}

.other > img {
    width: 53px;
    height: 47px;
    margin-left: 35px;
    justify-self: flex-end;
}

textarea:focus, 
input:focus,
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus,
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}

button.main-button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #007aad;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  button.main-button:hover {
    background-color: #007aad;
  }